@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

body {
  padding-top: 90px;
  background:#FFF;
  color:#D0D0D0;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('./components/common/Preloader_2.gif') center no-repeat #fff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.panel {
  border-radius: 5px;
}
label {
  font-weight: 300;
}



/* img {
    width: 100%;
  }
  
  .landing {
    position: relative;
    background: url('./img/showcase.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -24px;
    margin-bottom: -50px;
  }
  
  .landing-inner {
    padding-top: 80px;
  }
  
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card-form {
    opacity: 0.9;
  }
  
  .latest-profiles-img {
    width: 40px;
    height: 40px;
  }
  
  .form-control::placeholder {
    color: #bbb !important;
  }
   */